.usual {
   font-size: x-large;
   color: black;
   text-align: center;
   width: 200px;
   height: 200px;

}

.maximum {
   font-size: x-large;
   color: red;
   align: center;
   width: 200px;
   height: 200px;

}


.flex {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   outline: 2px solid #000;

}
div{
   border-width:2px;
   border-color: rgb(190,190,190);
   border-style: solid;
   padding: 10px;
   margin:30px  15px 20px;
   align: center;
}
.but{
   margin: 10px;
}


