.flex {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   outline: 2px solid #000;

}
div{
   padding: 10px;
   margin:30px  15px 20px;
}

.align {
   text-align: center;
   border-width:2px;
   border-color: rgb(190,190,190);
   border-style: solid;
}




.butOne {

}

.counter {

}
.counterTwo {
   ;
}
.butTwo {

}
.border {


}
