.flex {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   outline: 2px solid #000;

}
div{
   border-width:2px;
   border-color: rgb(190,190,190);
   border-style: solid;
   text-align: center;
}

.screen {
   width: 200px;
   height: 200px;
   text-align: center;
}


